<div class="white">
	<div class="container">
		 <div class="row">
				<div class="span6" style="padding-top: 50px;">
					<p style="text-align: center;"><img src="img/aui-logo.png" /></p>
					<br /><br /><br />
					<p class="lead" style="text-align: center;">Contact <strong>Artistic Urns, Inc.</strong></p>
					<p style="text-align: center;">1260 Rolling Green Drive<br />
					Acworth, GA 30102</p><br />
						<h2 style="text-align: center;">770-591-1565</h2>
						<br /><br />
					<h6 style="text-align: center;">100% Satisfaction Guaranteed</h6><br />

				</div>
				<div class="span6" style="padding-top: 50px;">
					<div class="well" style="padding-left: 8%;">
						<h4>Contact Us</h4>
						<form role="form">
						  <div class="form-group">
						    <label for="inputText">Name</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="inputName" placeholder="Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputText">Company</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="inputCompany" placeholder="Company">
						    </div>
						  </div>
						  <div class="form-group">
							  <label for="inputEmail">Email</label>
							      <div class="controls">
							        <input type="text" class="form-control span5" id="inputEmail" placeholder="Email">
							      </div>
						  </div>
						  <div class="form-group">
						    <label for="inputTel">Phone</label>
						    <div class="controls">
						      <input type="text" class="form-control span5" id="inputTel" placeholder="Phone">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputText">Comment</label>
						    <div class="controls">
						      <textarea type="text" class="form-control span5" id="inputText" placeholder="Comment" rows="7"></textarea>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputText"> </label>
							 <div class="controls">
						      <button type="submit" class="btn btn-success">Send</button>
						    </div>
						  </div>
						</form>
					</div>
					<br />
					
				</div>
			</div>
		</div>
	</div>   <!-- container -->
	
</div>  <!-- white -->
