RACK_ENV=development

PUMA_MIN_THREADS=0
PUMA_MAX_THREADS=16

SESSION_SECRET=secret123

DATABASE_URL=postgres://localhost:5432/urns_new

EXPIRE=7200

# DATABASE_URL=postgres://mohkafbrlxtpoz:qwiMVGfMq9d_Lk9nwkHgedtAuy@ec2-54-235-117-198.compute-1.amazonaws.com:5432/d79ute2jh2iqp4

# heroku-postgres-b84d3e08 :: ivory

AWS_SECRET_ACCESS_KEY=TlweSduKlfIVzzwvbjVxu2PL0QLIlwhxAOxCKDPl
AWS_ACCESS_KEY_ID=AKIAIOP2JBYSVP2NQA4Q
PROVIDER=AWS

FOG_DIRECTORY=urns
