<div class="white">
	<div class="container">
		 <div class="row">
				<div class="span6" style="padding-top: 50px;">
					<p style="text-align: center;"><img src="/img/aui-logo.png" /></p>
					<br /><br /><br />
					<p class="lead" style="text-align: center;"><strong>Artistic Urns, Inc.</strong></p>
					<p style="text-align: center;">1260 Rolling Green Drive<br />
					Acworth, GA 30102</p><br />
						<h2 style="text-align: center;">770-591-1565</h2>
						<br /><br />
					<h6 style="text-align: center;">100% Satisfaction Guaranteed</h6><br />

				</div>
				<div class="span6" style="padding-top: 50px;">
					<div class="well" style="padding-left: 8%;">
						<h4>Thank you contacting us.</h4>
						<p>We should respond within 24 hours. If you require more immediate help please call.</p>
					</div>
					<br />
					
				</div>
			</div>
		</div>
	</div>   <!-- container -->
	
</div>  <!-- white -->
